@import url('/FontFamily/fontFamily.css');

/*#region main_CSS*/
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
}

.drawing-container {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('/pictures/drawingGame/drawingBackground.webp');
    background-position: 80%;
    background-size: auto 100%;
    justify-content: center;
    align-items: center;
}

.drawing-container .output_canvas {
    position: relative;
    width: 96%;
    height: 100%;
    left: 2%;
    z-index: 1;
    border: 0%;
    background-color: white;
    border-radius: 1%;
}

.drawing-container .textStyle {
    color: black;
    font-family: Marhey;
    text-align: center;
    font-size: 4em;
}

.drawing-container .mouse_pointer {
    pointer-events: none;
    z-index: 950;
    border-radius: 100% 0% 100% 0%;
}

.drawing-container .layer {
    display: block;
    width: 100%;
}

.drawing-container .fourthLayer {
    width: 96%;
    display: grid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 1fr 45%;
    gap: 1%;
}

.drawing-container .fifthLayer {
    height: 8%;
}

.drawing-container .btn {
    top: 10%;
    border: 0cm;
    cursor: none;
    position: relative;
}

.drawing-container #btnBack {
    background-color: transparent;
    left: 2%;
    height: 100%;
}

#btnBack:hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: scale(1.05);
}

.drawing-container .btnSecondLayer {
    border-radius: 7px;
    height: 60%;
    width: 24%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    font-weight: 600;
}

.drawing-container #btnClearBackground {
    left: 2%;
    width: 30%;
    font-size: 3vw;
    border-radius: 1.3vw;
    box-shadow: 1vw 1vw 2.5vw rgba(0, 0, 0, 0.3);
}

.drawing-container #btnPlayGame {
    left: 2%;
    width: 45%;
    font-size: 8em;
    border-radius: 1.3vw;
    box-shadow: 1vw 1vw 2.5vw rgba(0, 0, 0, 0.3);
    justify-content: center;
    left: 27.5%;
    font-size: 6vw;
}

.drawing-container #btnPauseDrawing {
    left: 22%;
}

.drawing-container #btnSwitchMode {
    left: 25%;
}

.drawing-container .colourPicker {
    border: 0cm;
    position: relative;
    cursor: none;
    border-radius: 1.3vw;
}

.drawing-container #btnGreen {
    grid-column-start: 1;
}

.drawing-container #btnBlue {
    grid-column-start: 2;
}

.drawing-container #btnRed {
    grid-column-start: 3;
}

.drawing-container #btnYellow {
    grid-column-start: 4;
}

.drawing-container #btnWhite {
    grid-column-start: 5;
}

.drawing-container #btnBlack {
    grid-column-start: 6;
}

.drawing-container #btnRGBPicker {
    grid-column-start: 8;
}

.drawing-container #txtLineThickness {
    position: relative;
    left: 0%;
    width: 10%;
}

.secondLayerInstructions {
    height: 70%;
}
.secondLayerInstructions .instructionsHeader {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1vw #000;
    font-size: 14vw;
    margin-top: 3vh;
}
.secondLayerInstructions .instructionsTextBlock {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 0.1em #000;
    font-size: 6vw;
}
.cursor-indicator {
    position: absolute;
    transform: translate(0%, -100%);
    mix-blend-mode: multiply;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 32.6172%;
    height: 34.1797%;

    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.4);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;

    z-index: 999;
}
.drawing-container .firstLayer {
    height: 10%;
}
.drawing-container .secondLayer {
    height: 8.64%;
}
.drawing-container .thirdLayer {
    height: 69%;
}
.drawing-container .fourthLayer {
    height: 5%;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 1fr 45%;
    gap: 1%;
}