@import url("/FontFamily/fontFamily.css");

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
    touch-action: none;
    font-weight: bold;
}

h1 {
    font-size: clamp(2rem, 10vw, 18rem);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    text-shadow: 0.2em 0.2em 0.5em black;
}

.backBtn {
    height: 10%;
    background-color: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
}

#startScreen {
    background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(36, 35, 35, 0.15)),
        url("../pictures/kspGame/background_baltazar.png");
}

#uputeScreen {
    background: linear-gradient(rgba(36, 35, 35, 0.8), rgba(36, 35, 35, 0.8)),
        url("../pictures/kspGame/background_stroj.png");
}

#gameScreen {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("../pictures/kspGame/background_stroj.png");
}

#startScreen, #uputeScreen, #gameScreen {
    width: 100%;
    height: 100%;
    display: block;
    background-position: 50%;
    background-size: cover;
}

.titleRow {
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Marhey;
    text-shadow: 0.2em 0.2em 0.5em black;
}

.titleRow > p {
    width: 100%;
    color: white;
    text-align: right;
    padding-right: 1%;
    font-size: clamp(1rem, 3vw, 6rem);
}

.memoryBtn {
    background-color: #008782;
    border: 0;
    height: max-content;
    color: white;
    font-family: Marhey;
    text-align: center;
    text-shadow: none;
    cursor: none;
    margin-bottom: 5%;
    border-radius: 0.5em;
    font-size: clamp(1rem, 4vw, 9rem);
    padding: 0.5em 1em;
}

.memoryBtn:hover {
    cursor: none;
}

.bottomRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10%;
    gap: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    color: white;
    height: 70%;
    align-items: center;
}

.content > p {
    width: 70%;
    font-size: clamp(1rem, 5vw, 7em);
    text-shadow: 0.2em 0.2em 0.5em black;
    text-align: center;
    font-family: Marhey;
    padding: 0% 10%;
}

.content > img {
    height: clamp(4em, 15vh, 40em);
}

.resultText {
    color: lightgoldenrodyellow;
    font-size: clamp(3rem, 20vw, 30rem);
}

.gameText {
    text-shadow: 2px 2px black;
}

/* SAMO kad je landscape orijentacija - promjena rasporeda */
@media (orientation: landscape) {
    .bottomRow {
        flex-direction: row;
        gap: 5%;
    }
}
