@import url("/FontFamily/fontFamily.css");

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
    touch-action: none;
    font-weight: bold;
}

h1 {
    font-size: 15vw;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10vh;
}

.backBtn {
    height: 10%;
    background-color: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#startScreen {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../pictures/memoryGame/background_title.png");
    background-position: 50%;
    background-size: auto 100%;
}

#uputeScreen {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(36, 35, 35, 0.8), rgba(36, 35, 35, 0.8)),
        url("../pictures/memoryGame/background_instructions.png");
    background-position: 50%;
    background-size: cover;
}

#gameScreen {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("../pictures/memoryGame/background_game.png");
    background-position: 50%;
    background-size: cover;
}

#overScreen {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(36, 35, 35, 0.8), rgba(36, 35, 35, 0.8)),
        url("../pictures/memoryGame/background_game.png");
    background-position: 50%;
    background-size: cover;
}

.titleRow {
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Marhey;
    height: 20%;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.titleRow>p {
    width: 100%;
    font-size: 5vw;
    color: white;
    text-align: right;
    padding-right: 1vw;
}

.memoryBtn {
    font-size: 5.5vw;
    background-color: #008782;
    border: 0;
    height: max-content;
    box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.6);
    border-radius: 0.5em;
    color: white;
    margin-bottom: 1vh;
    font-family: Marhey;
    text-align: center;
    padding: 1% 4%;
    text-shadow: none;
}

.memoryBtn:hover {
    cursor: none;
}

.bottomRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 5vh;
}

.content {
    color: white;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.content>p {
    width: 100%;
    font-size: 3.5vh;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Marhey;
    padding: 0vw 5vw;
}

.card-grid {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.card {
    width: auto;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-color: grey;
    border-radius: 15px;
}

/* MOBITELI */
@media screen and (max-width: 380px) and (max-aspect-ratio: 1/1) {
}

@media screen and (min-width: 380px) and (max-width: 512px) and (max-aspect-ratio: 1/1) {
}

/* TABLETI I MANJI DESKTOPI - vertikalan */
@media screen and (min-width: 512px) and (max-width: 1920px) and (max-aspect-ratio: 1/1) {
}

/* TV vertikalan */
@media screen and (min-width: 1920px) and (max-aspect-ratio: 1/1) {
}

/* TABLETI I MANJI DESKTOPI: širina između 601px i 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
}