/* TicTacToe Game CSS Styles */

/* Main container styles */
.tictactoe-container {
  background-image: url('/pictures/tictactoeGame/background1.webp');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2em;
  width: 100vw;
  height: 100vh;
}

/* Game screen container */
.tictactoe-game-container {
  background-image: url('/pictures/tictactoeGame/background2.webp');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

/* Instructions screen container */
.tictactoe-instructions-container {
  background-image: url('/pictures/tictactoeGame/background1.webp');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5vh 5vw;
  position: relative;
  margin: 0;
}

/* Title styles */
.tictactoe-title {
  font-size: 12vw;
  margin-bottom: 1em;
  text-align: center;
}

.tictactoe-instructions-title {
  text-align: center;
  font-size: 12vw;
  margin-bottom: 3vh;
  color: white;
}

/* Baltazar image */
.tictactoe-baltazar-img {
  max-height: 40vh;
  width: auto;
  margin-bottom: 2em;
}

/* Button styles */
.tictactoe-menu-button {
  background-color: #008782;
  color: white;
  font-family: Marhey;
  font-size: 6vw;
  width: 40%;
  margin: -1em 0;
  margin-bottom: 10%;
}

.tictactoe-end-button {
  background-color: #008782;
  color: #FFFFFF;
  font-size: 5vw;
  font-family: 'Marhey', sans-serif;
  padding: 1em 2.5em;
  border: none;
  border-radius: 8px;
  margin: 0.5em;
  cursor: pointer;
  width: 50%;
}

/* Back button styles */
.tictactoe-back-button {
  position: absolute;
  top: 1em;
  left: 1em;
  height: 220px;
  cursor: pointer;
  z-index: 1000;
}

.tictactoe-back-button-menu {
  top: 4em;
  left: 4em;
}

.tictactoe-back-button-instructions {
  position: absolute;
  top: 4em;
  left: 4em;
  height: 220px;
  cursor: pointer;
}

.tictactoe-back-button-game {
  margin-top: 4em;
  margin-left: 4em;
}

/* Timer and player text */
.tictactoe-timer {
  font-size: 8vw;
  text-align: center;
  margin-top: 1.5em;
}

.tictactoe-current-player {
  font-size: 6vw;
  text-align: center;
  margin-top: -0.5em;
}

.tictactoe-player-img {
  height: 10vw;
  vertical-align: middle;
  margin-left: 1vw;
}

.tictactoe-player-img-inline {
  height: 10vw;
  vertical-align: middle;
}

/* Game board */
.tictactoe-board {
  position: relative;
  width: 100vw;
  height: 100vw;
  margin: 2em auto;
  background-image: url('/pictures/tictactoeGame/gameboard.webp');
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Board cells */
.tictactoe-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}

/* Cell symbols */
.tictactoe-symbol {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

/* Instructions text */
.tictactoe-instructions-text {
  font-size: 6vw;
  text-align: center;
  color: white;
  white-space: pre-line;
  margin-bottom: 4vh;
}

/* Instructions icons container */
.tictactoe-icons-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 5vh;
}

/* Icon containers */
.tictactoe-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tictactoe-icon-img {
  width: 40vw;
  max-width: 220px;
}

.tictactoe-icon-label {
  font-size: 6vw;
  margin-top: 1vh;
}

/* End game overlay */
.tictactoe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

/* End game text */
.tictactoe-result-text {
  font-size: 8vw;
  color: #FFFFFF;
  margin-bottom: 0.5em;
}

.tictactoe-winner-symbol {
  width: 15vw;
  margin-top: 0.3em;
}

.tictactoe-end-text {
  font-size: 5vw;
  color: #FFFFFF;
  margin-bottom: 2em;
}