@import url('/FontFamily/fontFamily.css');

.tictactoe-container,
.tictactoe-game-container,
.tictactoe-instructions-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.tictactoe-container {
  background-image: url('/pictures/tictactoeGame/background1.webp');
}

.tictactoe-game-container {
  background-image: url('/pictures/tictactoeGame/background2.webp');
}

.tictactoe-instructions-container {
  background-image: url('/pictures/tictactoeGame/background1.webp');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  box-sizing: border-box;
}

.tictactoe-title {
  text-align: center;
  font-size: min(16vw, 16vh);
  color: white;
  text-shadow: 0 0 0.2em #000;
}

.layer {
  display: block;
  width: 100%;
}

.firstLayer { height: 10%; }
.secondLayer { height: 50%; align-content: center; }
.thirdLayer { height: 40%; }
.secondLayerInstructions { height: 90%; align-content: center; }
.secondLayerGame { height: 90%; align-content: center; }

.btn {
  top: 10%;
  border: none;
  cursor: none;
  width: auto;
  position: relative;
}

#btnBack {
  background-color: transparent;
  left: 2%;
  height: 8vh;
}

.tictactoe-instructions-title {
  text-align: center;
  font-size: min(12vw, 12vh);
  color: white;
  text-shadow: 0 0 0.1em #000;
  margin: 0;
  padding-top: 0;
}

.tictactoe-baltazar-img {
  width: min(28vw, 28vh);
  height: auto;
  margin-bottom: 2vh;
  margin-inline: auto;
}

.tictactoe-menu-button {
  background-color: #008782;
  color: white;
  font-size: min(8vw, 8vh);
  font-weight: bold;
  width: 60%;
  padding: 0.5em;
  margin: 0 20% 5vh 20%;
  border-radius: 0.3em;
  box-shadow: 0.3vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
}

.tictactoe-end-button {
  background-color: #008782;
  color: white;
  font-size: min(9vw, 9vh);
  border: none;
  margin: 0.5em;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  border-radius: 0.3em;
  box-shadow: 0.3vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
}

.tictactoe-back-button {
  position: absolute;
  top: 2vh;
  left: 2vh;
  height: 12vh;
  cursor: pointer;
  z-index: 1000;
}

.tictactoe-timer {
  font-size: min(9vw, 9vh);
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 0.1em #000;
}

.tictactoe-current-player {
  font-size: min(6vw, 6vh);
  text-align: center;
  margin-top: -0.5em;
  font-weight: bold;
  text-shadow: 0 0 0.1em #000;
}

.tictactoe-player-img,
.tictactoe-player-img-inline {
  height: min(10vw, 10vh);
  vertical-align: middle;
}

.tictactoe-board {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  margin: 2vh auto;
  background-image: url('/pictures/tictactoeGame/gameboard.webp');
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tictactoe-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tictactoe-symbol {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.tictactoe-instructions-text {
  font-size: min(5vw, 5vh);
  text-align: center;
  color: white;
  white-space: pre-line;
  margin-bottom: 2vh;
}

.tictactoe-icons-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 5vh;
}

.tictactoe-icon-img {
  width: min(40vw, 220px);
}

.tictactoe-icon-label {
  font-size: min(6vw, 6vh);
  margin-top: 1vh;
}

.tictactoe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tictactoe-result-text {
  font-size: min(8vw, 8vh);
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 0 0 0.1em #000;
}

.tictactoe-winner-symbol {
  width: min(15vw, 15vh);
  margin-top: 0.3em;
}

.tictactoe-end-text {
  font-size: min(5vw, 5vh);
  color: #FFFFFF;
  margin-bottom: 2em;
  font-weight: bold;
  text-shadow: 0 0 0.1em #000;
}
