@import url("/FontFamily/fontFamily.css");
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
    touch-action: none;
}
#gameContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.textStyle {
    color: white;
    font-family: Marhey;
}
.layer {
    display: block;
    width: 100%;
}
.mouse_pointer {
    pointer-events: none;
    z-index: 950;
    width: 10vw;
    height: auto;
}
.cursor-wrapper {
    position: absolute;
    pointer-events: none;
    width: 10vw;
    height: auto;
    z-index: 950;
}
.btn {
    border: 0cm;
    cursor: none;
}
.btnGameButtons {
    background-color: #F48131;
    width: 50%;
    height: 12%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 6em;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.cursor-indicator {
    width: 2.5vw;
    height: 2.5vw;
}


/* TV vertikalan */
@media screen and (min-width: 1920px) and (max-aspect-ratio: 3/4) {

}
